body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 8%;
    display: flex;
}

.auth_content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.auth_content h3{
    margin-bottom: 25px;
}

.auth-wrapper p {
    color: #bf1650;
    font-size: 14px;
}

.auth-wrapper p::before {
    display: inline;
    content: "⚠ ";
}

.auth-wrapper input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 14px;
  }

.auth-wrapper input, .auth-wrapper button {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 14px;
}

.auth-wrapper label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 200;
}

.auth-wrapper button[type="submit"],
.auth-wrapper input[type="submit"] {
    background: #38E07D;
    color: white;
    /* text-transform: uppercase; */
    border: none;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;
}

.auth-wrapper button[type="submit"]:hover,
.auth-wrapper input[type="submit"]:hover {
    background: #1ada6a;
}

.auth-wrapper button[type="submit"]:active,
.auth-wrapper input[type="button"]:active,
.auth-wrapper input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

.auth-wrapper input:disabled {
    opacity: 0.4;
}

.auth-wrapper input[type="button"]:hover {
    transition: 0.3s all;
}

.pass_forgot, .signUp {
    font-size: 14px;
}
.pass_forgot {
    text-align: center;
    margin-bottom: 41px;
}

.p1 { font-size: 14px};