.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log {
    width: 100%;
    max-width: 320px;
}

.loginContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social {
    justify-content: center;
    display: flex;
}

.authContainer h3 {
    font-weight: bold;
    font-size: 16px;
}

.email, .password {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ffffff;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 12px;
}

.password {
    margin-top: 11px;
    margin-bottom: 10px;
}

.authContainer input[type="submit"] {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border-radius: 3px;
    background: #38E07D;
    color: #fff;
    border: none;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background: #1ada6a;
    margin-bottom: 10px;
}

hr {
  border: none;   
  border-top: 1px solid #C1C4C8;    
  text-align: center;
  overflow: visible;
}

hr:after {
  content: "간편 로그인";    
  position: relative;  
  top: -8px;    
  background-color: white;   
  padding: 0 10px;    
  font-size: 10px;
  color: #C1C4C8;
}

.signUp{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 12px;
    text-align: center;
}

.loginimg1 {
    margin-right: 10px;
}

.loginimg2 {
    margin-left: 10px;
}

.authError {
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}