.trash {
    margin-top: 200px;
}

.generalTrash {
    width: 250px;
    height: 60px;
    margin-left: 1px;
    font-size: 1em;
    border-radius: 10px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.recyclableWaste {
    width: 250px;
    height: 60px;
    margin-left: 1px;
    font-size: 1em;
    border-radius: 10px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 20px;
}