.amount_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.trashAmount {
    align-items: center;
    width: 150px;
    height: 200px;
    border: rgb(136, 136, 136) solid 2px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.amount {
    background: red;
    width: 146px;
    height: 180px;
    border-radius: 8px;
    margin-top: 16px;
}

.call {
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #1ada6a;
}

.amount_content p1 {
    
}
